{% extends "base.html" %}

{% block topbar_title %}
Glossary
{% endblock %}

{% block topbar_subtitle %}
Key genomic and clinical terminology used across reports and diagnostics
{% endblock %}

{% block content %}



<div class="tbl-wrap">

    <div class="tbl-scroll">
        <table >
            <thead>
                <tr>
                    <th>Term</th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
                {% for g in glossary %}
                <tr>
                    <td style="padding-left: 40px;"><strong>{{ g[0] }}</strong></td>
                    <td>{{ g[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}